In [1]:
import pandas as pd
import os

import random
random.seed(228)

In [2]:
csv_files = os.listdir("folds_5splits-csv/folds_5splits-csv")
csv_files.remove('.DS_Store')

In [3]:
fold_count = {"1" : 0, "2" : 0, "3" : 0, "4" : 0, "5" : 0 }

for csv_file in csv_files:
    df = pd.read_csv("folds_5splits-csv/folds_5splits-csv/{}".format(csv_file))
    
    counts = dict(df["fold"].value_counts())
    for key in counts:
        fold_count[str(key)] += counts[key]

In [4]:
fold_count

{'1': 87654, '2': 90640, '3': 99962, '4': 170600, '5': 208098}

In [5]:
def filter_df(csv_file):
    df = pd.read_csv("folds_5splits-csv/folds_5splits-csv/{}".format(csv_file))
    
    # get only values from the certain fold
    idx =  df[df["fold"] == 2].index.tolist()
    
    # randomly select 10% of values
    selected_idx = random.sample(idx, k = int(len(idx) * 0.01))
    
    # get only selected rows
    selected_df =  df.loc[selected_idx]
    selected_df.drop(["fold"], axis=1, inplace=True)
    
    selected_df["relation"] = csv_file.split(".")[0]
    
    return selected_df

In [6]:
final_df = pd.DataFrame([])

for csv_file in csv_files:
    df = filter_df(csv_file)
    
    if final_df.shape[0] == 0:
        final_df = df
    else:
        final_df = pd.concat([final_df, df], ignore_index=True)

In [7]:
final_df

     label                           p1                            p2 relation
0        0  F0803/MID2/P08502_face2.jpg   F0298/MID3/P03177_face2.jpg       md
1        0  F0222/MID3/P02358_face1.jpg   F0539/MID3/P05659_face1.jpg       md
2        0  F0187/MID1/P02011_face1.jpg   F0961/MID3/P10121_face3.jpg       md
3        1  F0188/MID4/P02021_face1.jpg   F0188/MID5/P02019_face1.jpg       md
4        0  F0189/MID4/P02031_face2.jpg   F0987/MID4/P10399_face5.jpg       md
..     ...                          ...                           ...      ...
895      1  F0987/MID6/P10403_face1.jpg  F0987/MID3/P10400_face10.jpg     gfgs
896      1  F0987/MID6/P10400_face1.jpg   F0987/MID4/P10406_face2.jpg     gfgs
897      1  F0332/MID5/P03515_face6.jpg   F0332/MID4/P03520_face2.jpg     gfgs
898      1  F0189/MID5/P02026_face2.jpg   F0189/MID1/P02030_face2.jpg     gfgs
899      0  F0987/MID6/P10403_face1.jpg   F0414/MID2/P11235_face1.jpg     gfgs

[900 rows x 4 columns]

In [20]:
final_df.to_csv("val_FIW.csv", index=False)